<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locations</key>
	<dict>
		<key>Amsterdam</key>
		<dict>
			<key>locationName</key>
			<string>Amsterdam</string>
			<key>lon</key>
			<string>04.89</string>
			<key>lat</key>
			<string>52.37</string>
		</dict>
		<key>Vancouver</key>
		<dict>
			<key>locationName</key>
			<string>Vancouver</string>
			<key>lon</key>
			<string>-123.13</string>
			<key>lat</key>
			<string>49.26</string>
		</dict>
		<key>Atlanta</key>
		<dict>
			<key>locationName</key>
			<string>Atlanta</string>
			<key>lon</key>
			<string>-84.39</string>
			<key>lat</key>
			<string>33.75</string>
		</dict>
		<key>Saint-Merri</key>
		<dict>
			<key>locationName</key>
			<string>Saint-Merri</string>
			<key>lon</key>
			<string>02.35</string>
			<key>lat</key>
			<string>48.86</string>
		</dict>
		<key>Cardiff</key>
		<dict>
			<key>locationName</key>
			<string>Cardiff</string>
			<key>lon</key>
			<string>-3.18</string>
			<key>lat</key>
			<string>51.48</string>
		</dict>
		<key>Boise</key>
		<dict>
			<key>locationName</key>
			<string>Boise</string>
			<key>lon</key>
			<string>-116.20</string>
			<key>lat</key>
			<string>43.61</string>
		</dict>
		<key>Singapore</key>
		<dict>
			<key>locationName</key>
			<string>Singapore</string>
			<key>lon</key>
			<string>103.85</string>
			<key>lat</key>
			<string>01.29</string>
		</dict>
		<key>New York</key>
		<dict>
			<key>locationName</key>
			<string>New York</string>
			<key>lon</key>
			<string>-74.006</string>
			<key>lat</key>
			<string>40.71</string>
		</dict>
	</dict>
</dict>
</plist>
